body{
    display:flex;
    justify-content: center;
    align-items: center;
}
*{
    box-sizing: border-box;
}
.openBtn {
    display: flex;
    justify-content: left;
}
.openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
}
.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}
.heading-book{
    font-size:36px;
    color:#2185d5;
}
.bookPopup{
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 2px solid;
    z-index: 9;
    border-radius:10px;
}
.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}
  .formContainer input[type=text],
  .formContainer input[type=password] {
    display: block;
    width:100%;
    padding:1rem;
    border:0;
    background: #f7f7f7;
    font-size:1rem;
    outline:0;
}
  .formContainer input[type=text]:focus,
  .formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #2185d5;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.8;
}
.cancel{
    font-size:3rem;
    position:absolute;
    top:0;
    right:10px;
    transform:rotate(45deg);
    cursor:pointer;
    color:#2185d5;
}
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
}
.bookValues{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width: 1000;
    position:absolute;
    top:12%;
    left:15%;
    margin:2rem;
    text-align:center;
    padding:30px;
    border-radius:3px;
    border:2px solid black;
}
.status{
    display:block;
    width:100%;
    padding:1rem;
    border:0;
    background:#f7f7f7;
    font-size: 1rem;
    outline:0;
}
.book {
   width:175px;
   height:300px;
   border-radius:5px;
   margin:2rem 1rem;
   text-align: center;
   display:flex;
   flex-direction: column;
   background-color: white;
}
p{
    display:block;
    font-size:1.5rem;
    font-weight:bold;
}
.para-title{
    position:absolute;
    bottom:344px;
}
.delete{
    position:relative;
    top:330px;
    font-size: 17px;
    background-color: #1c87c9;
    color:#f7f7f7;

}